!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title My Timekeeper
    = stylesheet_link_tag "application", 'theme/width-full', media: "screen"
    /[if lt IE 9]
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    = javascript_include_tag "application", 'main'

  %body
    = render 'layouts/color_switcher'

    .boxed.animated.fadeIn.animation-delay-5
      %header#header.hidden-xs
        .container
          #header-title
            %h1.animated.fadeInDown
              %a{:href => "/"}
                My
                %span Timekeeper
            %p.animated.fadeInLeft Fast&clean instrument for keep time
        / container
      / header
      %nav.navbar.navbar-static-top.navbar-mind{:role => "navigation"}
        .container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %a.navbar-brand.visible-xs{:href => "/"}
              My
              %span Timekeeper
            %button.navbar-toggle{"data-target" => ".navbar-mind-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %i.fa.fa-bars.fa-inverse
          / Collect the nav links, forms, and other content for toggling

          .collapse.navbar-collapse.navbar-mind-collapse
            / nav nabvar-nav
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Login
                .dropdown-menu.dropdown-login.animated.fadeInUp
                  %h4.section-title Login Form
                  = form_for(:user, :as => 'user', :url => session_path('user'), html: {id: 'sign_in'}) do |f|
                    .form-group
                      .input-group.login-input
                        %span.input-group-addon
                          %i.fa.fa-user
                        = f.email_field :email, class: 'form-control', placeholder: 'Email'
                      %br
                      .input-group.login-input
                        %span.input-group-addon
                          %i.fa.fa-lock
                        = f.password_field :password, class: 'form-control', placeholder: 'Password'
                      .checkbox
                        %label
                          %input{:type => "checkbox"}
                          Remember me
                      %button.btn.btn-primary.pull-right{:type => "submit"} Login
                      .clearfix
              / dropdown
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Register
                .dropdown-menu.dropdown-login.animated.fadeInUp
                  %h4.section-title Register Form
                  = form_for(:user, :as => 'user', :url => registration_path('user'), html: {id: 'sign_up'}) do |f|
                    .form-group
                      .input-group.login-input
                        %span.input-group-addon
                          %i.fa.fa-user
                        = f.email_field :email, class: 'form-control', placeholder: 'Email'
                      %br
                      .input-group.login-input
                        %span.input-group-addon
                          %i.fa.fa-lock
                        = f.password_field :password, class: 'form-control', placeholder: 'Password'
                      %br
                      .input-group.login-input
                        %span.input-group-addon
                          %i.fa.fa-lock
                        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation'
                      %br
                      %button.btn.btn-primary.pull-right{:type => "submit"} Register
                      .clearfix
              / dropdown
            / nav nabvar-nav
          / navbar-collapse
        / container
      / navbar navbar-default
      %section
        #carousel-example-generic.carousel.carousel-mind.carousel-mind-back-2.slide{"data-interval" => "5000", "data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          / Wrapper for slides
          .carousel-inner
            .item.active
              .container
                .row
                  .col-md-6.col-sm-7
                    .carousel-caption
                      .carousel-text
                        %h1.animated.fadeInDownBig Extremely simple time tracking
                        %ul.list-unstyled.carousel-list
                          %li.animated.bounceInLeft
                            %i.fa.fa-code
                            %span 5 minutes on familiarization
                          %li.animated.bounceInLeft
                            %i.fa.fa-html5
                            %span All actions on one page
                          %li.animated.bounceInLeft
                            %i.fa.fa-table
                            %span A lot of tips
                  .col-md-6.col-sm-5.hidden-xs.carousel-img-wrap
                    .carousel-img
                      %img.img-responsive.animated.bounceInUp{:alt => "Image", :src => "/assets/main_page/pre.png"}
            .item
              .container
                .row
                  .col-md-6.col-sm-8
                    .carousel-caption
                      .carousel-text
                        %h1.animated.fadeInDownBig Convenient time tracking
                        %ul.list-unstyled.carousel-list
                          %li.animated.bounceInLeft
                            %i.fa.fa-eye
                            %span A lof of hotkeys
                          %li.animated.bounceInLeft
                            %i.fa.fa-th-large
                            %span Intellectual input field
                          %li.animated.bounceInLeft
                            %i.fa.fa-files-o
                            %span Quick access to all functions
                  .col-md-6.col-sm-4.hidden-xs.carousel-img-wrap
                    .carousel-img
                      %img.img-responsive.animated.bounceInUp{:alt => "Image", :src => "/assets/main_page/pre2.png"}
            .item
              .container
                .row
                  .col-lg-6.col-md-7.col-sm-9
                    .carousel-caption
                      .carousel-text
                        %h1.animated.fadeInDownBig Basic functions is always free
                        %ul.list-unstyled.carousel-list
                          %li.animated.bounceInLeft
                            %i.fa.fa-code
                            %span Timetracking
                          %li.animated.bounceInLeft
                            %i.fa.fa-files-o
                            %span Reports
                          %li.animated.bounceInLeft
                            %i.fa.fa-upload
                            %span Update
                  .col-lg-6.col-md-5.col-sm-3.hidden-xs.carousel-img-wrap
                    .carousel-img
                      %img.img-responsive.animated.bounceInUp{:alt => "Image", :src => "/assets/main_page/pre3.png"}
          / Controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
            %span.glyphicon.glyphicon-chevron-right
      / carousel

      = render 'layouts/footer'
    / boxed

    #back-top
      %a{:href => "#header"}
        %i.fa.fa-chevron-up