<!doctype html>
<html>
<head>
  <title><%= yield(:html_title) %></title>

  <meta><%= yield(:html_meta) %> </meta>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "application", 'theme/width-boxed', 'style', media: "screen" %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="/assets/theme/html5shiv.js"></script>
      <script src="/assets/theme/respond.min.js"></script>
      <script language="javascript" type="text/javascript" src="/assets/lib/jqplot/excanvas.min.js"></script>
  <![endif]-->

  <%= javascript_include_tag "application" %>


</head>
<body ng-app='my_timekeeper'>

<%= render 'layouts/color_switcher' %>

<div class='boxed animated fadeIn animation-delay-5'>

  <%= render 'layouts/header' %>
  <%= yield  %>
  <%= render 'layouts/footer' %>

</div>

<div id="back-top">
  <a href="#navigation"><i class="fa fa-chevron-up"></i></a>
</div>

    <%#=raw MyConfig.get_config('metrika') %>

</body>
</html>